.main-table
  padding-top: 0
  @media (min-width: 768px)
    top: -10rem
  &__tr
    display: grid
    grid-template-columns: repeat(4, 25%)
    padding: 0 var(--offset)
    position: relative
    transition: all 0.3s
    font-size: 1.8rem
    background: rgba(52, 52, 52, 0.5)
    &.main-table__thead
      display: none
      color: white
      height: 10rem
      padding: 0 8rem
      @media (min-width: 768px)
        display: grid
        grid-template-columns: 1fr 1fr 1fr 100px
      &--mobile
        display: flex
        height: 14rem
        justify-content: center
        font-size: 20px
        letter-spacing: 0.2em
        text-transform: uppercase
        @media (min-width: 768px)
          display: none
    &.main-table__asset-row
      height: 12rem
      color: #383434
      align-items: center
      display: flex
      flex-wrap: nowrap
      background: #F7F7F7
      @media (min-width: 768px)
        display: grid
        height: 18rem
        margin-bottom: 2rem
        border-radius: 2.8rem
        background: white
        grid-template-columns: 1fr 1fr 1fr 100px
        padding: 0
        &.even
          background: #F7F7F7
      &:hover
        background: #F7F7F7!important
      & .main-table__td-row
        font-size: 3.6rem
        letter-spacing: 0.135em
      & .main-table__td
        font-size: 3.6rem
        letter-spacing: 0.105em
        @media (min-width: 768px)
          padding: 0 4rem
    &.active
      background: #F7F7F7
      .main-table__dropdown-btn
          transform: rotate(180deg)
      & + .main-table
        &__dropdown
          display: block
    &.activeToggle
      cursor: pointer
      &:hover
        background: var(--color1)
  &__td-row
    +flex(row nowrap, flex-start, center)
    text-transform: uppercase
  &__td
    font-size: 6rem
    letter-spacing: -0.04em
    padding: 2.5rem 0 2.5rem 2rem
    &:first-child
      padding-left: 0
    &:last-child
      text-align: center
      padding: 0!important
  &__th
    padding: 0 4rem
    font-size: 1.8rem
    line-height: 10rem
    height: 10rem
    &:first-child
      text-align: left
  &__icon
    width: 3.2rem
    height: 3.2rem
    min-width: 3.2rem
    margin-right: 2.8rem
  &__dropdown

    display: none
  &__dropdown-btn
    +flex(row nowrap, center, center)
    display: inline-flex
    width: 4rem
    height: 4rem
    border: 1px solid transparent
    border-radius: 100%
    background: #FBD039
    position: relative
    transition: all 0.3s
    top: -1.5rem
  &__link
    +font(2rem, 600, var(--color1))
    text-transform: uppercase
    text-align: center
    padding: 6rem 0
    a
      min-height: 6rem

.main-table__asset_wrapper
  background: #fff
  padding: 0
  @media (min-width: 768px)
    padding: 8rem

@import "media"
