.PageDashboard
  .section
    padding-top: 0
  .section__header
    +flex(row nowrap, center, center)
    height: 10rem
    background: rgba(52, 52, 52, 0.5)

    .title
      font-size: 2.6rem
      font-weight: 600
      letter-spacing: 0.2em
      font-variant: small-caps
      text-transform: uppercase
      color: white
  .section__breadcrumbs
      +flex(row nowrap, center, center)
      margin-bottom: 2rem!important
  .breadcrumbs
    color: #ffffff
    height: 4.5rem
    justify-content: center
    padding: 0 2rem
    &__item
      text-decoration: none
      font-weight: 300
      position: relative
      & span
        border: none
      & div
        margin: 0
        top: 20px
  .page-index__wrapper
    padding-top: 35px
    padding-bottom: 35px
    @media (min-width: 768px)
      padding-top: 0
      padding-bottom: 10rem
      height: auto
  .page-index__title
    +flex(column nowrap, center, center)
    margin-top: 0
    display: flex
    height: 100%
    align-items: center
    @media (min-width: 768px)
      +flex(row nowrap, center, flex-start)
      padding-top: 10rem
      height: auto
  .page-index__title-left
    margin-top: 2rem
    & > svg
        @media (max-width: 1530px)
          width: 145px
          height: auto
  .page-index__title-right
    margin-top: 0
  .page-index__title__total-price
    margin-top: 35px
    @media (min-width: 768px)
      margin-top: 0
  .info-carry
    margin-right: 8rem

  .OnChainValidation
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    line-height: 1.5
    margin-top: 3rem
    span
      margin-right: 10px
      border-bottom: 1px solid transparent
    a
      display: inline-block
      padding: 0
      border: none
      text-transform: uppercase
      margin-right: 10px
      border-bottom: 1px solid transparent
      &:hover
        border-bottom: 1px solid #FFFFFF





