.PageAccount
  +flex(row nowrap, center, flex-start)
  background: url("../../img/bg.png") repeat top left
  height: calc(100vh + 4.5rem)
  background-size: cover
  .section
    padding: 10rem 2.5rem
    @media (min-width: 768px)
      padding: 10rem
      flex: 1
    @media (max-width: 767px)
      width: 100%
  .section__header
    +flex(column nowrap, center, center)
    @media (min-width: 768px)
      +flex(row nowrap, space-between, flex-start)

  .account-table__info
    +flex(row nowrap, space-around, center)
    color: white
    margin-top: 20px
    letter-spacing: 0.05em
    font-weight: 300
    font-size: 12px
    @media (min-width: 768px)
      display: none

  .account-table__info-text
    padding: 0 13px

  .balance
    color: white
    height: auto
    margin-top: 8rem

    @media (min-width: 768px)
      margin-right: 15rem
      margin-top: 0
    &__amount
      font-weight: 500
      font-size: 9rem
  .table-wrapper
    overflow: auto hidden


  .section__header .title
    color: white
    letter-spacing: 0.025em
    font-size: 3.6rem
    font-weight: 500
  .section__content
    margin-top: 5rem
  .buttons .button
    font-size: 1.4rem
    letter-spacing: 0.05em
    text-transform: uppercase
    font-weight: 400
    padding: .9rem 4rem
    line-height: 1.1
    border: 1px solid #FBD039
    border-radius: .7rem
    min-height: 0

