.input-select
  position: relative
  width: 300px
  +flex(row nowrap, flex-start, stretch)
  .select
    max-width: 18rem
    position: absolute
    height: 34px
    top: 14px
    right: 14px
    background-color: #EFEFEF
    border-radius: 5px
  &._light
    border: none
    align-items: flex-end
    padding-bottom: 15px
    .select
      background: none
      &__input-container
        padding: 0
        height: auto
      img
        max-width: 32px
        max-height: 32px

.TokenRequestInputSelect
  flex: 1
  min-width: 300px
  margin-right: 2rem
  & .input
    font-size: 1.6rem
    letter-spacing: 0.1em
  & .select
    max-width: 8rem
  & .select__input-container
    height: 34px
    padding: 0 1rem
  & .select__value
    margin-right: 10px
  & .select__value, & .select__option
    font-size: 1.2rem
    font-weight: bold
    user-select: none
    z-index: 1000
  & .select__options
    padding-top: 2rem
    top: calc(100% - 1rem)
    width: 100%
    box-shadow: none
    background-color: #EFEFEF
    border-radius: 5px
  & .select__option
    padding-left: 1rem




.TokenRequestInputLabel
  line-height: 3.4rem
  color: #7E7E7E
  font-size: 1.4rem
