.sidebar-menu
  +flex(row-reverse nowrap, flex-start, stretch)
  background: #222222
  color: white
  width: 100vh
  min-width: 100vh
  bottom: -8rem
  height: 8.3rem
  left: 0
  z-index: 10
  transition: all 0.5s
  transform: rotate(-90deg)
  position: fixed
  transform-origin: left top
  //&::-webkit-scrollbar-track
  //  background: white
  //&::-webkit-scrollbar
  //  width: 5px
  //  height: 6px
  //&::-webkit-scrollbar-thumb
  //  background-color: var(--color5)
  //&:hover::-webkit-scrollbar-thumb
  //  background: var(--color5)
  &__items
    +flex(row-reverse nowrap, flex-end, stretch)
    padding: 2rem 0
    padding-right: 4rem
  &__item
    +flex(row nowrap, center, center)
    font-size: 10px
    text-transform: uppercase
    font-weight: 300
    background: transparent
    padding: 2rem 2rem
    letter-spacing: 0.05em
    border: 1px solid
    border-color: transparent
    border-radius: 7px
    &.active
      border-color: var(--btn-border)
  &__logo
    +flex(row nowrap, center, center)
    width: 5.5rem
    & a
      margin-right: 10px
    &  svg
      transform: rotate(90deg)
  &__logo-img
    transform: rotate(90deg)
    max-height: 100%
    width: 100%
  &__close
    display: none
  &__activation
    display: none


.sidebar-menu--mobile
  width: 100vw
  min-width: 100vw
  left: 0!important
  height: calc(100vh - 7rem)
  box-shadow: none
  display: block!important
  transform: none
  top: -100%
  .sidebar-nav
    +flex(column, center, center)

    margin-top: 10rem
    letter-spacing: 0.21em
    font-size: 2rem
    text-transform: uppercase
    color: #ffffff

    &__item
      margin-bottom: 2rem
      padding: 12px 47px
      &:hover
        color: var(--btn-border)

      &--bordered
        border: 1px solid #FBD039
        border-radius: 7px
        padding: 12px 47px
  .select-lang
    display: flex
    margin-top: 5rem
    +flex(row nowrap, center, center)

.select-lang__item
  margin-left: 10px
  cursor: pointer
  &--active
    border-bottom: 1px solid white
    font-weight: 500

.try-email
  margin-top: 5rem
  +flex(row nowrap, center, center)
  &_title
    margin-top: 10rem
    text-transform: lowercase
    font-size: 10px


  &__icon
    margin-right: 2rem
    font-size: 14px
    font-weight: 400

.sidebar-logo
  +flex(row nowrap, center, center)
  margin-top: 8rem

@import "media"
